name: Continuous integration
on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "0 0 1,15 * *"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [stable]

    steps:
      - name: Install Rust environment
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ matrix.rust }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Check formatting
        run: cargo fmt --all -- --check
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo
            target
          key: ${{ runner.OS }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.OS }}-cargo-
      - name: Install cargo-valgrind
        run: |
          sudo apt-get update
          sudo apt-get install -y valgrind
          cargo install cargo-valgrind
      - name: Build library
        run: cargo build
      - name: Ensure C headers are up to date
        run: |
          script/cbindgen
          test -z "$(git status --porcelain)"
      - name: Run test suite
        run: cargo test
      - name: Run test suite under valgrind
        # We only need to use valgrind to test the crates that have C bindings.
        run: cargo valgrind test -p stack-graphs
      - name: Run lsp-positions tests without tree-sitter
        run: cargo test -p lsp-positions --no-default-features
      - name: Run test suite with copious debugging
        run: cargo test --features copious-debugging
      - name: Run test suite with JSON
        run: cargo test --features json
      - name: Run test suite with all optimizations
        run: cargo test --release
